.btn{
    background-color: var(--cor-escura);
    height: 60px;
    width: 160px;
    border: none;
    text-shadow: 1px 1px 0px var(--cor-texto);
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
    font-weight: 150;
    font-size: 22px;
    color: var(--cor-botao-texto);
    cursor: pointer;
}

.btn:hover{
    color: var(--color-hover);
}