body {
  margin: 0px;
  height: 100%;
  background-color: rgb(220, 222, 224);
}

.botaoForm {
  background-color: var(--cor-escura);
  font-family: var(--font-secundaria);
  font-size: 17px;
  color: var(--cor-texto);
  border-radius: 5px;
  margin-top: 10px;
}

#botaoMostrar {
  background-color: black;
  color: wheat;
  margin-top: 10px;
  width: 250px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

#formulario {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
}

#idForm, #form-formulario {
  width: 100%;
  max-width: 384px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 8px gray;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

#criarCategoria {
  color: gray;
}

#estilosForm {
  font-size: 20px;
  font-family: var(--font-secundaria);
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  margin-top: 20px;
  margin-bottom: 1em;
  width: 100%;
  max-width: 320px;
  height: 42px;
}

#categoria {
  margin-left: 3em;
  margin-right: 3em;
  font-family: var(--font-secundaria);
}

#divCategoria {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 8px black;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  height: auto;
  align-items: center;
  font-family: var(--font-primaria);
}

.botaoExcluir {
  border: none;
  background: none;
  text-align: center;
  margin-top: 0px;
  margin-right: 10px;
  color: black;
  cursor: pointer;
}

.botaoExcluirSub {
  text-align: center;
  background-color: black;
  color: wheat;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
}

.footer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.footer__rodape {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

.footer__rodape p {
  margin: 2px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: linear-gradient(to bottom, var(--cor-botao-texto), var(--cor-hover), var(--cor-fundo));  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 3px black;
  padding: 30px;
  margin-top: 3em;
  align-items: center;
  background-color: var(--cor-secundaria);
  border-radius: 10px;
  width: 90%;
  height: 50%;
  max-width: 400px;
  top: 20%;
  left: 50%;
  justify-content: center;
}

.botaoCategoria {
  display: flex;
  align-items: center;
}

.estiloSubcategorias {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subcategoria {
  box-shadow: 0px 2px 8px gray;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  max-width: 190px;
  height: auto;
}

.nomeCategoria {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px black;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
}

.nomeCategoria:hover {
  background-color: rgb(219, 219, 219);
}

.paragrafo {
  margin-left: 10px;
}

/* Responsividade */
@media (min-width: 600px) {
  #botaoMostrar {
      margin-left: 100px;
      margin-right: 100px;
  }

  .modal {
      width: 50%;
      margin-left: 25%;
  }
}

@media (min-width: 900px) {
  #botaoMostrar {
      margin-left: 200px;
      margin-right: 200px;
  }

  .modal {
      width: 25%;
      margin-left: 37%;
  }
}
