body {
  margin: 0px;
  height: 100%;
  background-color: rgb(220, 222, 224);
}

#botaoForm {
  background-color: black;
  color: wheat;
  border-radius: 5px;
  margin-top: 10px;
}

#botaoMostrar {
  margin-left: 200px;
  width: 250px;
  height: 35px;
}


#formulario {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  height: 250px;
}

#idForm {
  width: 384px;
  box-shadow: 0px 2px 8px gray;
  background-color: white;
  padding: 0px 10px 0px 10px;
}

#criarCategoria {
  color: gray;
}

#form-formulario {
  width: 384px;
}

#estilosForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: none;
  box-shadow: 2px 2px 4px gray;
  margin-top: 20px;
  width: 320px;
  height: 42px;
}

#categoria {
  margin-left: 200px;
  margin-right: 200px;
}

#divCategoria {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 8px gray;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  height: auto;
  align-items: center;
}

.botaoExcluir {
  height: 40px;
  width: 100px;
  margin-top: 0px;
  margin-left: 10px;
}

.footer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.footer__rodape {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

.footer__rodape p {
  margin: 2px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgb(220, 222, 224);
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px gray;
  padding: 30px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 25%;
  position: fixed;
  top: 20%;
  margin-left: 37%;
  z-index: 999;
  justify-content: center;
}

.botaoCategoria {
  display: flex;
  align-items: center;
}

.estiloSubcategorias {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.subcategoria {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  width: 190px;
  height: 90px;
}

.nomeCategoria {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}